<footer class="bg-dark grid-center">
  <div class="col-1_md-2_sm-4 pad-top-s">
    <a href="/"><img src="/images/ethnichilltribeecotraillogo.png"/></a>
  </div>
  <h3 class="col-12 text-center">Practicing sustainable tourism and supporting family run businesses</h3>
 

  <div class="col-7_sm-11 grid-center-spaceBetween text-center pad-top-xs">
    <div class="col-3_sm-12">
      <h3>Phone/WhatsApp</h3>
      <a href="tel:+66908912334"><p>+66 90 891 2334</p></a>
      <a href="tel:+66928861099"><p>+66 92 886 1099</p></a>
    </div>
    <div class="col-3_sm-12">
      <h3>Address</h3>
      <a href="https://www.google.com/maps/place/Ethnic+Hilltribe+Eco+Trails/@18.7911039,98.986267,17z/data=!3m1!4b1!4m5!3m4!1s0x30da3a9d13dc385d:0x7e2a42cbcbd051c7!8m2!3d18.7911!4d98.98628" target="blank"><p>
        Ethnic Hilltribe Eco Trails, Jhaban Rd, Si Phum Sub-district, Amphoe Mueang Chiang Mai, Chiang Mai 50100      </p></a>
    </div>
    <div class="col-3_sm-12 grid-spaceAround pad-top-s">
      <a href="https://www.facebook.com/Ethnichilltribeecotrails" target=blank class="col-4"><i class="text-big fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/ethnichilltribetrails/" target=blank class="col-4"><i class="text-big fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.tripadvisor.com/Attraction_Review-g293917-d12980836-Reviews-Ethnic_Hilltribe_Eco_Trails-Chiang_Mai.html" target=blank class="col-4"><i class="text-big fa fa-tripadvisor" aria-hidden="true"></i></a>
      <a href="/all-tours" class="col-11 margin-top-s margin-bottom-m button-footer">Book a Tour</a>
    </div>
  </div>
  <p class="col-12 text-center">
    <a href="/">Home</a> |
    <a href="/all-tours">Tours & Treks</a> |
    <a href="/about">About Us</a> |
    <a href="/gallery">Gallery</a> |
    <a href="/contact">Contact & FAQs</a> |
  </p>
  <p  class="col-12 text-center">TAT License: 23/02443</p>

<p class="col-12 text-center"><iframe onload="this.width=screen.width;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3777.1581538862933!2d98.986267!3d18.7911039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da3a9d13dc385d%3A0x7e2a42cbcbd051c7!2sEthnic%20Hilltribe%20Eco%20Trails!5e0!3m2!1sen!2snp!4v1673240289785!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style  = "width:fit-content;"></iframe>
  </p>

</footer>
<footer class="text-center bg-turq">
  <h6 class="pad-all-xs margin-0"><i class="fa fa-copyright" aria-hidden="true"></i> Ethnic Hilltribe Eco Trails <script type="text/javascript">
  document.write(new Date().getFullYear()); </script> | Created by <a href="http://cnxweb.site" target=blank>CNX Web</a></h6>
</footer>
